/* CSS BY Garrett Chin */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ---------- CSS Variables ---------- */
:root{
    /* Theme Colors */
    --red: #c72615;
    --white: #fff;
    --black: #020202;
    --gray: #939393;
    --dk-gray: #222;

    /* Other Colors */
    --lt-gray: #f2f2f2;
    --purple: #6b1869;
    --magenta: #eb1cf0;

    /* ----- FONTS ----- */
    --font-family: 'Cabin', 'Open Sans', sans-serif;

    /* Background */
    background-color: #eb1cf0;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%236b1869' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* ---------- Link Styles ---------- */
a{
    display: block;
    text-align: center;
}

img{
    width: 180px;
    height: 172px;
    position: absolute;
    left: 0;
}
/* ---------- Body Styles ---------- */
body{
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: var(--fonts);
    margin: 0;
}

/* Text Styles */
p{
    display: grid;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
}

/* ---------- Header Styles ---------- */
header{
    padding: 1rem;
    width: 968px;
    margin: 0 auto;
    background-color: var(--black);
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

/* ----- HEADING STYLES ----- */
h1{
    font-size: 3rem;
    text-align: center;
    color: var(--white);
    font-family: var(--font-family);
}

#about h2{
    font-size: 1.5rem;
    text-align: left;
    font-family: var(--font-family);
    color: var(--white);
}

#offerings h2{
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Cabin', sans-serif;
    color: var(--white);
}

/* ---------- Nav Ul Styles --------- */
nav{
    color: var(--white);
    font-family: 'Cabin', sans-serif;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    float: none;
    justify-content: center;
}

/* ------- Ul Styles -------- */
ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    float: none;
    justify-content: center;
}

/* ---------- Nav a Styles --------- */
nav a{
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
}

/* ---------- Navigation a Hover Styles ---------- */
nav a:hover{
    border-color: var(--red);
    color: var(--red);
}

/* ---------- Main Styles ---------- */
main{
    width: 1000px;
    padding: 2rem 0;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 8px;
    margin-right: auto;
    background-color: var(--red);
}

/* ---------- Main Section Styles ---------- */
main > section{
    padding-top: 2rem;
    padding-bottom: 9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ---------- Main H2 Styles ---------- */
main h2{
    font-size: 1rem;
    padding: 0;
    width: fit-content;
    margin: 0;
    background-color: var(--red);
    color: var(--dk-gray);
}

iframe{
    display: flex;
    justify-content: center;
    position: relative;
    float: right;
    top: -150px;
    overflow: clip !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

/* ---------- Footer Styles ---------- */
footer{
    padding: 1rem;
    width: 968px;
    margin: 0 auto;
    background-color: var(--white);
    text-align: center;
    padding-top: 2rem;
    font-family: 'Open Sans', sans-serif;
}

footer h2{
    margin: 0 auto;
    font-size: 1.35rem;
    line-height: 1;
    grid-column: 1/-1;
}

footer section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem 1rem;
    width: 520px;
    text-align: center;
    margin: 0 auto 1rem auto;
}

footer a{
    padding: 0.5rem;
    color: var(--black);
    text-underline-offset: 4px;
    text-decoration-color: var(--red);
    text-decoration-thickness: 2px;
}

footer a:hover{
    color: var(--red);
}

footer p{
    margin: 0 auto;
    font-size: 1rem;
}

form{
  max-width: 350px;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1.1rem;
}

label{
  display: block;
  margin: 1rem 0 0 1rem;
}

.required{
  display: inline-block;
  color: var(--magenta);
  font-size: 1.3rem;
  font-weight: bold;
}

.guide{
  display: block;
  font-size: 1rem;
  color: var(--lt-gray);
}

input[type="text"], input[type="email"]{
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background: none;
  background-color: var(--white);
  outline: none;
  border: 1px solid var(--lt-gray);
  box-shadow: var(--black);
  line-height: 1;
  height: 2.5rem;
}

input:focus{
  box-shadow: var(--gray);
  border: 2px solid var(--purple);
}

.hidden{
  visibility: hidden;
  height: 1.5rem;
  margin: 0.5rem 0 0 0;
}

fieldset{
  width: 100%;
  border-color: var(--purple);
  margin: 1rem auto 0.5rem auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

legend{
  font-size: 1.1rem;
  margin-left: 1rem;
}

/* custom radio styles from: https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
label.radio{
  font-size: 1rem;
  color: var(--dk-gray);
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0 1rem 0;
  margin: 0 0 0 2rem;
}

input[type="radio"]{
  opacity: 0;
  width: 0;
  height: 0;
}

.radio_input{
  display: flex;
}

span.radio_control{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.1rem solid var(--purple);
  transform: translateY(-0.05rem);
  color: var(--gray);
}

span.radio_label{
  line-height: 1;
  height: auto;
  color: var(--dk-gray);
}

.radio_input input:checked + .radio_control{
  background: radial-gradient(var(--teal) 50%, rgba(255, 0, 0, 0) 51%);
}

.radio_input input:focus + .radio_control{
  box-shadow: 0 0 0 0.05rem var(--white), 0 0 0.15rem 0.1rem var(--teal);
}

/* custom checkbox styles from: https://moderncss.dev/pure-css-custom-checkbox-style/ */
.checkbox{
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5rem;
  align-items: end;
  font-size: 1rem;
  color: var(--gray);
  margin: -2rem 0 0 0;
  line-height: 1;
}

.checkbox_input input{
  opacity: 0;
  width: 1rem;
  height: 1rem;
}

.checkbox_control{
  display: inline-grid;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 1.1rem;
  border: 1px solid var(--lt-gray);
  box-shadow: var(--gray);
}

.checkbox_control svg{
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox_input input:checked + .checkbox_control svg{
  transform: scale(1);
}

.checkbox_input input:focus + .checkbox_control{
  box-shadow: 0 0 0 0.05rem var(--white), 0 0 0.15rem 0.1rem #939393;
}

input[type="text"].error, input[type="email"].error, #agree.error + span.checkbox_control{
  border: 2px solid var(--magenta);
}